html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#mmap_canvas {
	height: 100%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin top: 200px;
}

.marker {
	height: 50px;
	width: 50px;
	border: solid;
}
