/* Stylesheet that controls which picture is displayed depending
   on the browser screen width  */


@media only screen and (min-device-width: 1201px) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) 0 0px;		
	}
}


@media only screen and (min-device-width: 1101px) and (max-device-width: 1200) {
	.software {
		width: 128px;
		height: 240px;
		background: url(software.png) 128 0px;		
	}
}
