body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Inconsolata;
}

a {
	color: #4d4d4d;
	text-decoration: none;
}

a:hover {
	color: #808080;
	text-decoration: none;
}

.image {
	width: 1000px;
}
