body {
	margin-left: 100px;
	margin-right: 100px;
}

h1 {
	font-family: arial;
	size: 2em;
	text-align: center;
}

div#messages {
	font-family: arial;
	size: 1em;
}

p {
	background-color: #bac2f5;
	border-radius: 3px;
	padding: 5px;
}
